#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Grimreaper
    name= _ "Grim Reaper"
    race=undead
    image="units/undead/reaper.png"
    profile="portraits/reaper.png"
    hitpoints=120
    movement_type=spartanfly
    movement=1
    experience=999
    level=4
    alignment=neutral
    advances_to=null
    cost=55
    usage=fighter
    description= _ "The grim reaper is the undisputed ruler of the underworld, with the following abilities:
-during his turn, he disappears, spawning up to six grim wraith. One of the wraiths is secretly the reaper - killing the wraith makes the reaper reappear, and take damage equal to the amount of hitpoints the wraith lost. Upon appearing, the wraiths slow all nearby ally units (like rats, for example)
-upon hitting an enemy in his normal form, he is healed by half the damage he inflicts
-when his hitpoints fall below half, the reaper summons undead spearmen at random coordinates, and is healed by 25% of his max hitpoints."
    die_sound=wail-long.wav
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=100
                image="units/undead/reaper.png"
            [/frame]
            [frame]
                duration=150
                image="units/undead/reaper.png"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=100
                image="units/undead/reaper.png"
            [/frame]
            [frame]
                duration=150
                image="units/undead/reaper.png"
            [/frame]
        [/else]
    [/defend]
    [abilities]
        {SPARTAN_ABILITY_ILLUSIONS reaper_wraiths1 _"shadow cloning" _"Every few turns, the reaper disappears, and summons up to six grim wraiths around you. The reaper is disguised as one of them, so killing the specific wraith will make him reappear and take damage." Hoplite_Grimreaperclone 3}
        #        {ABILITY_HOPLITE_KNOCKBACKIMMUNE}
        {ABILITY_HOPLITE_KNOCKBACKRESIST 3}
        {ABILITY_HOPLITE_BOSS reaper}
        {ABILITY_HOPLITE_FLYING}
    [/abilities]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=14
        number=1
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:550,0.0:225
        alpha=0.8~0.7:350,0.7~0.0:200,0.0~0.8:225
        #		direction=s,se,sw

        [frame]
            duration=175
            image="units/undead/reaper.png"
        [/frame]
        [frame]
            duration=50
            image="units/undead/reaper.png"
            sound=wail-sml.wav
        [/frame]
        [if]
            hits=no
            [frame]
                duration=50
                image="units/undead/reaper.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=50
                image="units/undead/reaper.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/undead/reaper.png"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            image="units/undead/reaper.png:250"
        [/frame]
    [/standing_anim]

    [event]
        name=reaper_horde
        first_time_only=no

        [store_unit]
            [filter]
                type=Hoplite_Grimreaper
            [/filter]
            variable=reaperhp
            kill=no
        [/store_unit]
        {IF_VAR reaperhp.hitpoints greater_than 0 (
            [and]
                [variable]
                    name=reaperhp.hitpoints
                    less_than_equal_to="$($reaperhp.max_hitpoints / 2)"
                [/variable]
            [/and]
            [and]
                [variable]
                    name=reaperhorde
                    not_equals=yes
                [/variable]
            [/and]
            [then]
                #removed the healing and instead just buffed his base hp
                #{VARIABLE reaperheal $reaperhp.max_hitpoints}
                #{VARIABLE_OP reaperheal divide 4}
                #[unstore_unit]
                #    variable=reaperhp
                #[/unstore_unit]
                #[heal_unit]
                #    [filter]
                #        type=Hoplite_Grimreaper
                #    [/filter]
                #    amount=$reaperheal
                #    animate=yes
                #[/heal_unit]
                #{CLEAR_VARIABLE reapherheal}
                [if]
                    [have_unit]
                        id=Hoplite2
                    [/have_unit]
                    [then]
                        {IF_VAR hoplite_depth less_than -10 (
                            [then]
                                {RANDOM 16..18}
                            [/then]
                            [else]
                                {RANDOM 12..14}
                            [/else]
                        )}
                    [/then]
                    [else]
                        {IF_VAR hoplite_depth less_than -10 (
                            [then]
                                {RANDOM 14..16}
                            [/then]
                            [else]
                                {RANDOM 10..12}
                            [/else]
                        )}
                    [/else]
                [/if]
                {SCATTER_UNITS $random "Hoplite_Spearman,Hoplite_Shielder,Hoplite_Spearman,Hoplite_Skelearcher" 1 (
                    terrain={SPARTAN_UNITSPAWN_TERRAIN}
                    [not]
                        [filter]
                        [/filter]
                        [or]
                            x,y=6,2
                            radius=1
                        [/or]
                        [or]
                            x,y=6,10
                            radius=2
                        [/or]
                    [/not]
                ) (
                    side=$hoplite_enemyside
                    animate=yes
                )}
                {VARIABLE reaperhorde yes}
            [/then]
        )}
        {CLEAR_VARIABLE reaperhp}
    [/event]
[/unit_type]
[unit_type]
    id=Hoplite_Grimreaperclone
    name= _ "Grim Wraith"
    race=undead
    image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
    hitpoints=15
    movement_type=none
    movement=1
    experience=999
    level=1
    alignment=neutral
    advances_to=null
    cost=16
    usage=fighter
    description= _ "Grim Wraith"
    die_sound=wail-long.wav
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=100
                image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
            [/frame]
            [frame]
                duration=150
                image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
                sound=wail-sml.wav
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=100
                image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
            [/frame]
            [frame]
                duration=150
                image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
            [/frame]
        [/else]
    [/defend]
    [abilities]
        {ABILITY_HOPLITE_KNOCKBACKIMMUNE}
        {ABILITY_HOPLITE_BOSS_IMMUNITIES}
        {ABILITY_HOPLITE_BOSS_STAT_MULTIPLIER}
        {ABILITY_HOPLITE_FLYING}
    [/abilities]
    [movement_costs]
        flat=1
        village=1
        castle=1
        sand=1
        unwalkable=1
        shallow_water=1
        deep_water=1
    [/movement_costs]
    [attack]
        name=scythe
        description=_"scythe"
        icon="attacks/blank-attack.png~BLIT(attacks/scythe.png~CROP(5,5,49,49)~CS(-20,-100,0)~O(75%),5,5)"
        type=cold
        range=melee
        damage=12
        number=1
        defense_weight=0.0
        [specials]
            {SPECIAL_HOPLITE_SHORTRANGED}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:550,0.0:225
        alpha=0.8~0.7:350,0.7~0.0:200,0.0~0.8:225
        #		direction=s,se,sw

        [frame]
            duration=175
            image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
        [/frame]
        [frame]
            duration=50
            image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
            sound=wail-sml.wav
        [/frame]
        [if]
            hits=no
            [frame]
                duration=50
                image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=50
                image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%)"
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        alpha=0.8~0.4:1400,0.4~0.6:600,0.6~0.4:600,0.4~0.8:1400
        [frame]
            image="units/undead/reaper.png~BLEND(146,101,255,0.7)~O(75%):250"
        [/frame]
    [/standing_anim]
[/unit_type]
