#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Nagaharpooner
    name= _ "Naga Harpooner"
    race=naga
    gender=male
    image="units/nagas/ophidian.png"
    profile="portraits/nagas/naga-ophidian.png"
    num_traits=0
    ignore_race_traits=yes
    hitpoints=20
    movement_type=spartanswim3
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
#    {AMLA_DEFAULT}
    cost=18
    usage=mixed fighter
    description= _ "Unlike naga hunters, harpooners can fight in melee, and can pull you towards them with their harpoon attack."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/nagas/ophidian-defend2.png" "units/nagas/ophidian-defend1.png" {SOUND_LIST:NAGA_HIT} }
    [abilities]
        {ABILITY_SPARTAN_SEMIRANGED 4}
        {ABILITY_HOPLITE_SWIMMER}
    [/abilities]
    [attack]
        name=curved blade
        description=_"curved blade"
        type=blade
        range=melee
        damage=8
        number=1
        icon=attacks/blade-curved.png
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack]
        name=harpoon
        description= _"harpoon"
        type=pierce
        range=ranged
        damage=10
        number=1
        icon=attacks/javelin-orcish.png
        attack_weight=0.0
        defense_weight=0.0
        [specials]
                {WEAPON_SPECIAL_HOPLITE_RANGED naga_harpooner 1 4 0 "misc/targethex-archer.png" first (
                {TELEPORT_UNIT id=$this_targetunit.id $tmp_current_targethexes[0].x $tmp_current_targethexes[0].y}
                )}
                [dummy]
                    id=spartan_pull_dummy
                    name=_"pull"
                    description=_"This ranged attack pulls the target towards the attacker (tries to find closest passable tile to the one in front of the attacker)"
                [/dummy]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=curved blade
        [/filter_attack]
        start_time=-420
        offset=0.0:240,0.0~0.6:180,0.6~0.0:250
        [frame]
            image="units/nagas/ophidian-melee[1~7].png:[70*4,80*2,180]"
        [/frame]
        [frame]
            image="units/nagas/ophidian.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=harpoon
        [/filter_attack]
        start_time=-550
        missile_start_time=-150
        [if]
            hits=yes
            [missile_frame]
                duration=150
                image="projectiles/spear-n.png"
                image_diagonal="projectiles/spear-ne.png"
                offset=0~0.8
            [/missile_frame]
            [frame]
                image="units/nagas/ophidian-jarid-[1~7].png:[100*6,80]"
            [/frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/spear-n.png"
                image_diagonal="projectiles/spear-ne.png"
                offset=0~1.2
            [/missile_frame]
            [frame]
                image="units/nagas/ophidian-jarid-[1~7].png:[100*6,80]"
            [/frame]
        [/else]
        {SOUND:HIT_AND_MISS spear.ogg throw-[1~4].wav -100}
    [/attack_anim]
[/unit_type]
