#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Astralguardian
    name= _ "Astral Guardian"
    race=monster
    {TRAIT_ELEMENTAL}
    image="units/avatar.png"
    {DEFENSE_ANIM "units/avatar.png" "units/avatar.png" {SOUND_LIST:LICH_HIT} }
    hitpoints=30
    movement_type=spartanfly
    #    [resistance]
    #        fire=50
    #    [/resistance]
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=20
    usage=fighter
    description= _ "Astral Guardian"
    [abilities]
        {ABILITY_HOPLITE_TELEPORT 3}
        {ABILITY_TELEPORTAWAY}
        {ABILITY_HOPLITE_KNOCKBACKRESIST 1}
        {ABILITY_HOPLITE_FLYING}
    [/abilities]
    [standing_anim]
        [frame]
            duration=1600
            y=0:200,-1:200,-2:200,-1:200,0:200,1:200,2:200,1:200
        [/frame]
    [/standing_anim]
    [attack]
        name=touch
        description= _ "touch"
        type=arcane
        icon=attacks/touch-faerie.png
        range=melee
        damage=10
        number=1
        #	attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [death]
        start_time=0
        [frame]
            image="units/avatar.png:800"
            blend_color=255,255,255
            blend_ratio=0~1:400,1
            alpha=1:400,1~0:400
            sound=lich-die.ogg
        [/frame]
        [frame]
            image="misc/blank-hex.png:1"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-350
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -100}
        [frame]
            image="units/avatar.png:600"
        [/frame]
    [/attack_anim]
    [animation]
        apply_to=pre_teleport

        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-0.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-1.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-2.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-3.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-4.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-5.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-6.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-7.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-8.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-9.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=200
            image="misc/blank-hex.png"
        [/frame]
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            duration=200
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-9.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-8.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-7.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-6.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-5.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-4.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-3.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-2.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-1.png~SCALE(144,144))
        [/frame]
        [frame]
            duration=100
            image_mod=~MASK(masks/teleport-mask-0.png~SCALE(144,144))
        [/frame]
    [/animation]
[/unit_type]
