#textdomain wesnoth-units

#TODO: add cyclops race to Spartan

[unit_type]
    id=Hoplite_Cyclops
    name= _ "Cyclops"
    race=monster
    image="units/cyclopes/cyclop.png"
    hitpoints=10
    movement_type=spartanfoot
    movement=1
    attacks=2
    experience=99
    level=1
    alignment=neutral
    advances_to=null
    usage=fighter
    undead_variation=cyclops
    description= _ "Cyclopes are a melee unit that is able to attack twice in one turn. A good way to counter them is the Counterattack upgrade, as they are hit twice by it."
    die_sound=cyclops-die-[1~3].ogg
    [standing_anim]
        [frame]
            image="units/cyclopes/cyclops/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=fist
        description=_"fist"
        type=impact
        range=melee
        damage=6
        number=1
        icon="attacks/fist-human.png"
        defense_weight=0.0
        [specials]
            {SPECIAL_HOPLITE_SHORTRANGED}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/cyclopes/cyclop-defend.png" "units/cyclopes/cyclop-defend.png" cyclops-hit-[1~4].ogg }

    {SPARTAN_CYCLOPS_FIST_ANIM_1 cyclop}
    {SPARTAN_CYCLOPS_FIST_ANIM_2 cyclop}

    [victory_anim]
        start_time=0
        [frame]
            image="units/cyclopes/cyclop-victory-[1~3,2,1].png:[200,150,700,200,150]"
        [/frame]
    [/victory_anim]

    [idle_anim]
        start_time=0
        [frame]
            image="units/cyclopes/cyclop-idle[1~3,2,3~1].png:[100,150,150,200,150,200,100]"
        [/frame]
    [/idle_anim]
[/unit_type]

[unit_type]
    id=Hoplite_Cyclops_Breaker
    name= _ "Cyclops Breaker"
    race=monster
    image="units/cyclopes/breaker.png"
    hitpoints=20
    movement_type=spartanfoot
    movement=1
    attacks=2
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    usage=fighter
    undead_variation=cyclops
    description= _ "Cyclops Breaker is a stronger version of the Cyclops."
    die_sound=cyclops-die-[1~3].ogg
    [standing_anim]
        [frame]
            image="units/cyclopes/breaker/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=fist
        description=_"fist"
        type=impact
        range=melee
        damage=8
        number=1
        icon="attacks/fist-human.png"
        defense_weight=0.0
        [specials]
            {SPECIAL_HOPLITE_SHORTRANGED}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/cyclopes/breaker-defend.png" "units/cyclopes/breaker-defend.png" cyclops-hit-[1~4].ogg }

    {SPARTAN_CYCLOPS_FIST_ANIM_1 breaker}
    {SPARTAN_CYCLOPS_FIST_ANIM_2 breaker}

    [victory_anim]
        start_time=0
        [frame]
            image="units/cyclopes/breaker-idle[1~4,3~1].png:[200,150,200,700,150,100,75]"
        [/frame]
    [/victory_anim]

    [idle_anim]
        start_time=0
        [frame]
            image="units/cyclopes/breaker-idle[1~3,2,3~1].png:[100,150,150,200,150,200,100]"
        [/frame]
    [/idle_anim]
[/unit_type]

[unit_type]
    id=Hoplite_Cyclops_Brute
    name= _ "Cyclops Brute"
    race=monster
    image="units/cyclopes/mighty.png"
    hitpoints=25# a bit tankier than breaker to compensate for lower normal dps
    movement_type=spartanfoot
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    usage=fighter
    undead_variation=cyclops
    description= _ "Cyclops Brute is a a melee unit able to charge up a powerful melee attack (shown the same way as ranged unit targethexes)"
    die_sound=cyclops-die-[1~3].ogg
    {DEFENSE_ANIM "units/cyclopes/mighty-defend.png" "units/cyclopes/mighty-defend.png" cyclops-hit-[1~4].ogg }
    [standing_anim]
        [frame]
            image="units/cyclopes/brute/00[01~36].png:42"
        [/frame]
    [/standing_anim]

    [attack]
        name=tree
        description=_"tree"
        type=impact
        range=melee
        damage=10
        number=1
        icon="attacks/club-small.png"
        defense_weight=0.0
        [specials]
            {SPECIAL_HOPLITE_SHORTRANGED}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack]
        name=tree
        description=_"charged bash"
        type=impact
        range=melee
        damage=16
        number=1
        icon="attacks/club-small.png"
        attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_RANGED cyclops_brute_chargeattack 1 1 0 "misc/targethex-archer.png" first ()}
        [/specials]
    [/attack]

#define MIGHTY_ANIM VARIATION
    [attack_anim]
        [filter_attack]
            name=tree
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/cyclopes/mighty-{VARIATION}[1~4].png:[200,100,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} 0}
        [frame]
            image="units/cyclopes/mighty-defend.png:100"
        [/frame]
    [/attack_anim]
#enddef
    {MIGHTY_ANIM attack}
    {MIGHTY_ANIM attackb}
[/unit_type]