#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Dust_Devil
    name= _ "Dust Devil"
    race=monster
    image="units/monsters/dust-devil.png"
    hitpoints=25
    movement_type=spartanfly
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    usage=fighter
    description= _ "Dust Devils are a tornado-like flying enemies that pull opponents towards it. The wind itself deals no direct damage, but it can pull you into a chasm, or leave you stuck in a crowd of enemies. Firm Stance upgrade helps a lot when dealing with these foes. Leaping can also help you escape out of a Dust Devil's grasp. You can also slow the Dust Devil to escape."
    {DEFENSE_ANIM "units/monsters/dust-devil.png" "units/monsters/dust-devil.png" wose-hit.ogg }
    die_sound=groan.wav
    [abilities]
#        {ABILITY_SPARTAN_RANGED 2}
        {ABILITY_HOPLITE_FLYING}
        {ABILITY_HOPLITE_KNOCKBACKRESIST 1}
    [/abilities]
    [attack]
        name=pull
        description=_"pull"
        icon=attacks/twister.png
        type=arcane
        range=ranged
        damage=0
        number=1
    attack_weight=0.0
    defense_weight=0.0
    [specials]
        [dummy]
            id=spartan_pull_dummy
            name=_"pull 1"
            description=_"This ranged attack pulls the 1 tile target towards the attacker (works like knockback, therefore you still take damage when pulled into water for example)"
        [/dummy]
        {WEAPON_SPECIAL_HOPLITE_CUSTOM_PATTERN_ATTACK glyph_test_gravity "misc/targethex-mudcrawler.png~O(70%)" aoe () (
        #attacks in 2-tile ring radius. aims in 3-tile radius
            [store_locations]
                terrain=!,{SPARTAN_WALL_TERRAIN}
                [and]
                    x,y=$unit.x,$unit.y
                    radius=2
                    [filter_radius]
                        terrain=!,{SPARTAN_WALL_TERRAIN}
                    [/filter_radius]
                [/and]
                [not]
                    x,y=$unit.x,$unit.y
                [/not]
                variable=ranged_targetlocs_custom
                include_borders=no
                mode=append
            [/store_locations]
            [store_locations]
                terrain=!,{SPARTAN_WALL_TERRAIN}
                [and]
                    x,y=$unit.x,$unit.y
                    radius=3
                    [filter_radius]
                        terrain=!,{SPARTAN_WALL_TERRAIN}
                    [/filter_radius]
                [/and]
                [not]
                    x,y=$unit.x,$unit.y
                [/not]
                variable=ranged_targetlocs_custom_aim
                include_borders=no
                mode=append
            [/store_locations]
            {VARIABLE tmp_targetloc_varname ranged_targetlocs_custom}
            {VARIABLE tmp_target_aimcheck_varname ranged_targetlocs_custom_aim}
        ) (
                #source and destination is intentionally reversed
                [store_relative_direction]
                    [source]
                        x,y=$this_item.x,$this_item.y
                    [/source]
                    [destination]
                        x,y=$this_targetunit.x,$this_targetunit.y
                    [/destination]
                    variable=tmp_enemy_aimdir
                [/store_relative_direction]
                {VARIABLE tmp_current_knockback_lesser yes}
                {HOPLITE_KNOCKBACK_CODE_REPEATED 1 this_targetunit this_item $tmp_enemy_aimdir}
                {CLEAR_VARIABLE tmp_enemy_aimdir}
                {CLEAR_VARIABLE tmp_current_knockback_lesser}
        ) ()}
    [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pull
        [/filter_attack]
        start_time=-200
        [image]
            offset=0.0
            duration=400
            halo="projectiles/sand-storm-[1~8].png:50"
        [/image]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -200}
    [/attack_anim]

#old version
#    [attack]
#        name=wind
#        description=_"wind"
#        icon=attacks/twister.png
#        type=impact
#        range=ranged
#        damage=0
#        number=1
#    attack_weight=0.0
#    defense_weight=0.0
#    [specials]
#        [dummy]
#            id=spartan_dummy_wind
#            name=_"wind 1"
#            description=_"This attack pushes all units in targethexes (including allies) 1 tile downward (south)."
#        [/dummy]
#        {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
#        {WEAPON_SPECIAL_HOPLITE_CUSTOM_PATTERN_ATTACK minotaur_groundslam "misc/targethex-mudcrawler.png~O(70%)" aoe (
#            no_move_after_attack=yes
#        ) (
#            #2 radius for actual attack, 3 radius for checking for enemies
#            [store_locations]
#                terrain=!,{SPARTAN_WALL_TERRAIN}
#                [and]
#                    x,y=$unit.x,$unit.y
#                    radius=2
#                    [filter_radius]
#                        terrain=!,{SPARTAN_WALL_TERRAIN}
#                    [/filter_radius]
#                [/and]
#                [not]
#                    x,y=$unit.x,$unit.y
#                [/not]
#                variable=ranged_targetlocs_custom
#                include_borders=no
#                mode=append
#            [/store_locations]
#            [store_locations]
#                terrain=!,{SPARTAN_WALL_TERRAIN}
#                [and]
#                    x,y=$unit.x,$unit.y
#                    radius=3
#                    [filter_radius]
#                        terrain=!,{SPARTAN_WALL_TERRAIN}
#                    [/filter_radius]
#                [/and]
#                [not]
#                    x,y=$unit.x,$unit.y
#                [/not]
#                variable=ranged_targetlocs_custom_aim
#                include_borders=no
#                mode=append
#            [/store_locations]
#            {VARIABLE tmp_targetloc_varname ranged_targetlocs_custom}
#            {VARIABLE tmp_target_aimcheck_varname ranged_targetlocs_custom_aim}
#        ) (
#            {VARIABLE tmp_current_knockback_lesser yes}
##            {HOPLITE_KNOCKBACK_CODE_REPEATED 1 this_targetunit this_item -$this_item.facing}
#            {HOPLITE_KNOCKBACK_CODE_REPEATED 1 this_targetunit this_item n}
#            {CLEAR_VARIABLE tmp_enemy_aimdir}
#            {CLEAR_VARIABLE tmp_current_knockback_lesser}
#            [modify_unit]
#                [filter]
#                    id=$this_item.id
#                [/filter]
#                [set_variable]
#                    name=ranged_cooldown
#                    value=2
#                [/set_variable]
#            [/modify_unit]
#        ) (
#            [modify_unit]
#                [filter]
#                    id=$this_item.id
#                [/filter]
#                [set_variable]
#                    name=ranged_cooldown
#                    value=2
#                [/set_variable]
#            [/modify_unit]
#        )}
#    [/specials]
#    [/attack]
#    [attack_anim]
#        [filter_attack]
#            name=wind
#        [/filter_attack]
#        missile_start_time=-700
#        [missile_frame]
#            duration=1000
##            offset=-2.0~2.0
#            halo="projectiles/sand-storm-[1~8].png:40"
#            halo_mod="~SCALE_SHARP(288,144)"
#            halo_y=-144~144
#            auto_vflip=no
#        [/missile_frame]
#        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -200}
#    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hoplite_Sand_Tornado
    name= _ "Sand Tornado"
    race=monster
    image="units/monsters/dust-devil.png~SCALE_SHARP(100,100)"
    hitpoints=45
    movement_type=spartanfly
    movement=1
    experience=99
    level=3
    alignment=neutral
    advances_to=null
    usage=fighter
    description= _ "TODO"
    {DEFENSE_ANIM "units/monsters/dust-devil.png~SCALE_SHARP(100,100)" "units/monsters/dust-devil.png~SCALE_SHARP(100,100)" wose-hit.ogg }
    die_sound=groan.wav
    [abilities]
#        {ABILITY_SPARTAN_RANGED 2}
        {ABILITY_HOPLITE_FLYING}
        {ABILITY_HOPLITE_KNOCKBACKRESIST 2}
    [/abilities]

    [attack]
        name=pull
        description=_"pull"
        icon=attacks/twister.png
        type=arcane
        range=ranged
        damage=0
        number=1
    attack_weight=0.0
    defense_weight=0.0
    [specials]
        [dummy]
            id=spartan_pull_dummy
            name=_"pull 2"
            description=_"This ranged attack pulls the 2 tiles target towards the attacker (works like knockback, therefore you still take damage when pulled into water for example)"
        [/dummy]
        {WEAPON_SPECIAL_HOPLITE_CUSTOM_PATTERN_ATTACK glyph_test_gravity2 "misc/targethex-mudcrawler.png~O(70%)" aoe () (
        #attacks in 3-tile ring radius. aims in 4-tile radius
            [store_locations]
                terrain=!,{SPARTAN_WALL_TERRAIN}
                [and]
                    x,y=$unit.x,$unit.y
                    radius=3
                    [filter_radius]
                        terrain=!,{SPARTAN_WALL_TERRAIN}
                    [/filter_radius]
                [/and]
                [not]
                    x,y=$unit.x,$unit.y
                [/not]
                variable=ranged_targetlocs_custom
                include_borders=no
                mode=append
            [/store_locations]
            [store_locations]
                terrain=!,{SPARTAN_WALL_TERRAIN}
                [and]
                    x,y=$unit.x,$unit.y
                    radius=4
                    [filter_radius]
                        terrain=!,{SPARTAN_WALL_TERRAIN}
                    [/filter_radius]
                [/and]
                [not]
                    x,y=$unit.x,$unit.y
                [/not]
                variable=ranged_targetlocs_custom_aim
                include_borders=no
                mode=append
            [/store_locations]
            {VARIABLE tmp_targetloc_varname ranged_targetlocs_custom}
            {VARIABLE tmp_target_aimcheck_varname ranged_targetlocs_custom_aim}
        ) (
                #source and destination is intentionally reversed
                [store_relative_direction]
                    [source]
                        x,y=$this_item.x,$this_item.y
                    [/source]
                    [destination]
                        x,y=$this_targetunit.x,$this_targetunit.y
                    [/destination]
                    variable=tmp_enemy_aimdir
                [/store_relative_direction]
                {VARIABLE tmp_current_knockback_lesser yes}
                {HOPLITE_KNOCKBACK_CODE_REPEATED 2 this_targetunit this_item $tmp_enemy_aimdir}
                {CLEAR_VARIABLE tmp_enemy_aimdir}
                {CLEAR_VARIABLE tmp_current_knockback_lesser}
        ) ()}
    [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pull
        [/filter_attack]
        start_time=-200
        [image]
            offset=0.0
            duration=400
            halo="projectiles/sand-storm-[1~8].png~SCALE_SHARP(100,100):50"
        [/image]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -200}
    [/attack_anim]

#    [attack]
#        name=wind
#        description=_"wind"
#        icon=attacks/twister.png
#        type=impact
#        range=ranged
#        damage=0
#        number=1
#    attack_weight=0.0
#    defense_weight=0.0
#    [specials]
#        [dummy]
#            id=spartan_dummy_wind
#            name=_"wind 2"
#            description=_"This attack pushes all units in targethexes (including allies) 2 tiles downward (south)."
#        [/dummy]
#        {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
#        {WEAPON_SPECIAL_HOPLITE_CUSTOM_PATTERN_ATTACK minotaur_groundslam "misc/targethex-mudcrawler.png~O(70%)" aoe (
#            no_move_after_attack=yes
#        ) (
#            #2 radius for actual attack, 3 radius for checking for enemies
#            [store_locations]
#                terrain=!,{SPARTAN_WALL_TERRAIN}
#                [and]
#                    x,y=$unit.x,$unit.y
#                    radius=2
#                    [filter_radius]
#                        terrain=!,{SPARTAN_WALL_TERRAIN}
#                    [/filter_radius]
#                [/and]
#                [not]
#                    x,y=$unit.x,$unit.y
#                [/not]
#                variable=ranged_targetlocs_custom
#                include_borders=no
#                mode=append
#            [/store_locations]
#            [store_locations]
#                terrain=!,{SPARTAN_WALL_TERRAIN}
#                [and]
#                    x,y=$unit.x,$unit.y
#                    radius=3
#                    [filter_radius]
#                        terrain=!,{SPARTAN_WALL_TERRAIN}
#                    [/filter_radius]
#                [/and]
#                [not]
#                    x,y=$unit.x,$unit.y
#                [/not]
#                variable=ranged_targetlocs_custom_aim
#                include_borders=no
#                mode=append
#            [/store_locations]
#            {VARIABLE tmp_targetloc_varname ranged_targetlocs_custom}
#            {VARIABLE tmp_target_aimcheck_varname ranged_targetlocs_custom_aim}
#        ) (
#            {VARIABLE tmp_current_knockback_lesser yes}
#             {HOPLITE_KNOCKBACK_CODE_REPEATED 2 this_targetunit this_item -$this_item.facing}
#            {HOPLITE_KNOCKBACK_CODE_REPEATED 2 this_targetunit this_item n}
#            {CLEAR_VARIABLE tmp_enemy_aimdir}
#            {CLEAR_VARIABLE tmp_current_knockback_lesser}
#            [modify_unit]
#                [filter]
#                    id=$this_item.id
#                [/filter]
#                [set_variable]
#                    name=ranged_cooldown
#                    value=2
#                [/set_variable]
#            [/modify_unit]
#        ) (
#            [modify_unit]
#                [filter]
#                    id=$this_item.id
#                [/filter]
#                [set_variable]
#                    name=ranged_cooldown
#                    value=2
#                [/set_variable]
#            [/modify_unit]
#        )}
#    [/specials]
#    [/attack]
#    [attack_anim]
#        [filter_attack]
#            name=wind
#        [/filter_attack]
#        missile_start_time=-700
#        [missile_frame]
#            duration=1000
#             offset=-2.0~2.0
#            halo="projectiles/sand-storm-[1~8].png:40"
#            halo_mod="~SCALE_SHARP(288,144)"
#            halo_y=-144~144
#            auto_vflip=no
#        [/missile_frame]
#        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -200}
#    [/attack_anim]
[/unit_type]