#textdomain wesnoth-Hoplite
[terrain_graphics]
    [tile]
        x=0
        y=0
        type=*^Maus
        set_flag=mausoleum
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"
    [tile]
        pos=1
        has_flag=mausoleum
    [/tile]
    [image]
        layer=0
        center=92,138
        # wmlscope: start ignoring
        # FIXME: More implicit-path breakage
        name="../scenery/mausoleum[01~18].png:140"
        # wmlscope: stop ignoring
    [/image]
[/terrain_graphics]

[terrain_graphics]
    [tile]
        x=0
        y=0
        type=*^Mauz
        set_flag=mausoleumfl
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"
    [tile]
        pos=1
        has_flag=mausoleumfl
    [/tile]
    [image]
        layer=0
        center=92,138
        # wmlscope: start ignoring
        # FIXME: More implicit-path breakage
        name="../scenery/mausoleum[01~18].png~FL(horiz):140"
        # wmlscope: stop ignoring
    [/image]
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web1.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web1-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 2
2,  2
, 1
2,  3
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web2.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web2-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 2
2,  2
, 1
3,  2
, 3"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web3.png
        layer=-10
    [/image]
    map="
3,  3
, 1
2,  2
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web4.png
        layer=10
    [/image]
    map="
.,  .
, *
2,  3
, 1
2,  3
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web5.png
        layer=10
    [/image]
    map="
.,  .
, *
3,  2
, 1
3,  2
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web6.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web6-bottom.png
        layer=-10
    [/image]
    map="
.,  2,  .
, 2,  2
2,  1,  3
, 3,  3
.,  3,  ."
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=*^Wybs
    [/tile]
    [tile]
        pos=2
        type=X*
    [/tile]
    [tile]
        pos=3
        type=!,X*
    [/tile]
    [image]
        name=spiderweb/web7.png
        layer=10
    [/image]
    [image]
        name=spiderweb/web7-bottom.png
        layer=-10
    [/image]
    map="
.,  .
, 2,  .
2,  2
, 1,  2
*,  3
, 3,  ."
[/terrain_graphics]

[terrain_graphics]
    [tile]
        pos=1
        type=Q*^Wybs
    [/tile]
    [tile]
        pos=2
        type=!,Q*^*
    [/tile]
    [image]
        name=spiderweb/web8.png
        position=vertical
    [/image]
    map="
2,  2
, 1
2,  1
, 2"
[/terrain_graphics]

[terrain_graphics]
    [tile]
        x=0
        y=0
        type=*^Por
        set_flag=redportal
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"
    [tile]
        pos=1
        has_flag=redportal
    [/tile]
    [image]
        layer=0
        center=92,138
        # wmlscope: start ignoring
        # FIXME: More implicit-path breakage
        name="portal2.png~NO_TOD_SHIFT()"
        # wmlscope: stop ignoring
    [/image]
[/terrain_graphics]

[terrain_graphics]
    [tile]
        x=0
        y=0
        type=*^Pob
        set_flag=blueportal
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"
    [tile]
        pos=1
        has_flag=blueportal
    [/tile]
    [image]
        layer=0
        center=92,138
        # wmlscope: start ignoring
        # FIXME: More implicit-path breakage
        name="portal.png~NO_TOD_SHIFT()"
        # wmlscope: stop ignoring
    [/image]
[/terrain_graphics]

[terrain_graphics]
    [tile]
        x=0
        y=0
        type=*^Pog
        set_flag=greenportal
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"
    [tile]
        pos=1
        has_flag=greenportal
    [/tile]
    [image]
        layer=0
        center=92,138
        # wmlscope: start ignoring
        # FIXME: More implicit-path breakage
        name="portal3.png~NO_TOD_SHIFT()"
        # wmlscope: stop ignoring
    [/image]
[/terrain_graphics]
[terrain_graphics]
    [tile]
        x=0
        y=0
        type=*^Pop
        set_flag=purpleportal
    [/tile]
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"
    [tile]
        pos=1
        has_flag=purpleportal
    [/tile]
    [image]
        layer=0
        center=92,138
        # wmlscope: start ignoring
        # FIXME: More implicit-path breakage
        name="portal4.png~NO_TOD_SHIFT()"
        # wmlscope: stop ignoring
    [/image]
[/terrain_graphics]

##############################
####### ice-blades ###########
##############################
# set flags first
[terrain_graphics]
    map="
, *
3 , *
, 1
2 , *
, 3"

    [tile]
        pos=1
        type=*^Aybl
        set_flag=iceblade_fell
    [/tile]
    [tile]
        pos=2
        type=!,*^Aybl,M*
        set_no_flag=no_iceblade_sw
    [/tile]
    [tile]
        pos=3
        type=!,*^Aybl
        #            set_no_flag=no_iceblade_sw
    [/tile]
    probability=100
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , 3
, 1
* , 2
, 3"

    [tile]
        pos=1
        type=*^Aybl
        set_flag=iceblade_fell
    [/tile]
    [tile]
        pos=2
        set_flag=no_iceblade_se
        type=!,*^Aybl,M*
    [/tile]
    [tile]
        pos=3
        type=!,*^Aybl
        #            set_no_flag=no_iceblade_sw
    [/tile]
    probability=100
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, 2"

    [tile]
        pos=1
        type=*^Aybl
        set_flag=iceblade_fell
    [/tile]
    [tile]
        pos=2
        type=!,*^Aybl,M*
        set_no_flag=no_iceblade_s
    [/tile]
    probability=100
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Aybl
        set_no_flag=iceblade
    [/tile]
    probability=100
[/terrain_graphics]

# now we draw images

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Aybl
        has_flag=iceblade_fell
        set_flag=iceblade_drawn
    [/tile]

    probability=25
    [image]
        name="ice-blades/ice-blades@V.png"
        variations="6;7"
        #            layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, * , *
* , * , *
, * , *
* , 1 , *
, 1 , 1
* , 1 , *
, * , *
* , * , *
, * , *"

    [tile]
        pos=1
        type=*^Aybl
        has_flag=iceblade
        set_no_flag=iceblade_drawn
    [/tile]

    probability=20
    [image]
        name="ice-blades/ice-blades_2x2_@V.png"
        variations="1;2;3"
        #            layer=5
        base=90,244
        center=164,216
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Aybl
        has_flag=iceblade
        set_no_flag=iceblade_drawn
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades@V.png"
        variations="1;2;3;4;5"
        #            layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, *
* , *
, 1"

    [tile]
        pos=1
        type=!,*^Aybl
        has_flag=no_iceblade_s
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades-n@V.png"
        variations=";2"
        layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, *
1 , *
, *"

    [tile]
        pos=1
        type=!,*^Aybl
        has_flag=no_iceblade_sw
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades-n-ne@V.png"
        variations=";2"
        #            layer=5
        base=90,144
        center=90,144
        #            center=135,74
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, *
* , 1
, *"

    [tile]
        pos=1
        type=!,*^Aybl
        has_flag=no_iceblade_se
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades-n-nw@V.png"
        variations=";2"
        #            layer=5
        base=90,144
        #            center=15,78
        center=90,144
    [/image]
[/terrain_graphics]


##############################
####### stone-blades (recolored ice blades) ###########
##############################
# set flags first
[terrain_graphics]
    map="
, *
3 , *
, 1
2 , *
, 3"

    [tile]
        pos=1
        type=*^Xbl
        set_flag=stoneblade_fell
    [/tile]
    [tile]
        pos=2
        type=!,*^Xbl,M*
        set_no_flag=no_stoneblade_sw
    [/tile]
    [tile]
        pos=3
        type=!,*^Xbl
        #            set_no_flag=no_stoneblade_sw
    [/tile]
    probability=100
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , 3
, 1
* , 2
, 3"

    [tile]
        pos=1
        type=*^Xbl
        set_flag=stoneblade_fell
    [/tile]
    [tile]
        pos=2
        set_flag=no_stoneblade_se
        type=!,*^Xbl,M*
    [/tile]
    [tile]
        pos=3
        type=!,*^Xbl
        #            set_no_flag=no_stoneblade_sw
    [/tile]
    probability=100
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, 2"

    [tile]
        pos=1
        type=*^Xbl
        set_flag=stoneblade_fell
    [/tile]
    [tile]
        pos=2
        type=!,*^Xbl,M*
        set_no_flag=no_stoneblade_s
    [/tile]
    probability=100
[/terrain_graphics]
[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Xbl
        set_no_flag=stoneblade
    [/tile]
    probability=100
[/terrain_graphics]

# now we draw images

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Xbl
        has_flag=stoneblade_fell
        set_flag=stoneblade_drawn
    [/tile]

    probability=25
    [image]
        name="ice-blades/ice-blades@V.png~GS()~BLEND(25,25,0,0.5)"
        variations="6;7"
        #            layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, * , *
* , * , *
, * , *
* , 1 , *
, 1 , 1
* , 1 , *
, * , *
* , * , *
, * , *"

    [tile]
        pos=1
        type=*^Xbl
        has_flag=stoneblade
        set_no_flag=stoneblade_drawn
    [/tile]

    probability=20
    [image]
        name="ice-blades/ice-blades_2x2_@V.png~GS()~BLEND(25,25,0,0.5)"
        variations="1;2;3"
        #            layer=5
        base=90,244
        center=164,216
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Xbl
        has_flag=stoneblade
        set_no_flag=stoneblade_drawn
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades@V.png~GS()~BLEND(25,25,0,0.5)"
        variations="1;2;3;4;5"
        #            layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, *
* , *
, 1"

    [tile]
        pos=1
        type=!,*^Xbl
        has_flag=no_stoneblade_s
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades-n@V.png~GS()~BLEND(25,25,0,0.5)"
        variations=";2"
        layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, *
1 , *
, *"

    [tile]
        pos=1
        type=!,*^Xbl
        has_flag=no_stoneblade_sw
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades-n-ne@V.png~GS()~BLEND(25,25,0,0.5)"
        variations=";2"
        #            layer=5
        base=90,144
        center=90,144
        #            center=135,74
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, *
* , 1
, *"

    [tile]
        pos=1
        type=!,*^Xbl
        has_flag=no_stoneblade_se
    [/tile]

    probability=100
    [image]
        name="ice-blades/ice-blades-n-nw@V.png~GS()~BLEND(25,25,0,0.5)"
        variations=";2"
        #            layer=5
        base=90,144
        #            center=15,78
        center=90,144
    [/image]
[/terrain_graphics]

{NEW:BASE                Qxur                                                      chasm/abyss}
#unused:
#{NEW:BASE                Urbm                                                       cave/flagstones-dark}
#unused
#{NEW:BASE                Uri                                                        cave/path}

# Ice cave and walls

{NEW:BASE                Uyi                                                        ice/floor}

#{TRANSITION_COMPLETE_L     Uyi          (!,Uyi,W*,Ai,Q*,Xu*)             -220               ice/floor}
{NEW:TRANSITION            Uyi          (!,Uyi,W*,Ai,Q*,Xu*)             -220               cave/floor}


{NEW:BASE            Xyui                                                        ice/wall-rough}

#{WALL_TRANSITION_LF   Qx*              (Ai*,Aa*,Ha*,Ms*)                  -90  ground  chasm/regular-snow}
{NEW:WALL      Xyui            (Qx*,Ql)                               ice/wall-rough-chasm}
{NEW:WALL      Xyui            (!,Xu*,Xyui)                                ice/wall-rough}

#unused

##terrain graphics from Merry Christmas, code based on archaic resources
#{NEW:BASE            Qxyi                                                       frozen_chasm}
#{WALL_TRANSITION_LF   Qxyi              (Ai*,Aa*,Uyi,Xyui,Mybd)                  -90  ground  frozen_chasm}
#{TRANSITION_COMPLETE_LF (Cha,Kha,Coa,Koa,Cea,Kea)        Qxyi                   -80    transition2   ice/regular-castle}

#{TERRAIN_BASE Qxaz frozen_chasm}
#{DISABLE_BASE_TRANSITIONS  Qxaz}
#{WALL_TRANSITION_LF Qxaz (!,Qxaz) -90 ground frozen_chasm}


# Dark hive floor terrain graphics
{TERRAIN_BASE_P           Yhr            8     dark-hive/floor3                }
{TERRAIN_BASE_P           Yhr           25     dark-hive/floor2                }
{TERRAIN_BASE             Yhr                  dark-hive/floor                 }
{TERRAIN_BASE_P           Yhl            8     dark-hive/lair3                 }
{TERRAIN_BASE_P           Yhl           25     dark-hive/lair2                 }
{TERRAIN_BASE             Yhl                  dark-hive/lair                  }
{TERRAIN_BASE_P           Yhs            8     dark-hive/surface3              }
{TERRAIN_BASE_P           Yhs           25     dark-hive/surface2              }
{TERRAIN_BASE             Yhs                  dark-hive/surface               }

# Dark hive floor's pits
{OVERLAY_P                *^Xp          10     dark-hive/pit-2                 }
{OVERLAY_P                *^Xp          11     dark-hive/pit-3                 }
{OVERLAY_P                *^Xp          13     dark-hive/pit-4                 }
{OVERLAY_P                *^Xp          14     dark-hive/pit-5                 }
{OVERLAY_P                *^Xp          17     dark-hive/pit-6                 }
{OVERLAY_P                *^Xp          20     dark-hive/pit-7                 }
{OVERLAY_P                *^Xp          25     dark-hive/pit-8                 }
{OVERLAY                  *^Xp                 dark-hive/pit-1                 }

# Dark hive transitions
{NEW:BEACH                  (Yhr,Yhl,Yhs)               W*         flat/shore}
# Don't replace certain defined transitions for id est road, sand, mountains...
{TRANSITION_RESTRICTED_L        Yhr (!,Yhr,Uh,H*,M*,Q*,Urb,Rr,Rp,Ds) -499 (dark-hive/floor)  }
{TRANSITION_RESTRICTED_L        Yhl (!,Yhl,Uh,H*,M*,Q*,Urb,Rr,Rp,Ds) -499 (dark-hive/lair)   }
{TRANSITION_RESTRICTED_L        Yhs (!,Yhs,Uh,H*,M*,Q*,Urb,Rr,Rp,Ds) -499 (dark-hive/surface)}
# HACK: Wesnoth 1.6 RC 1. Define a custom Re transition, as
# the default mainline one is drawn below Yhs and looks awful.
{TRANSITION_RESTRICTED_LF       Yhr (Re,Rb,Rd) -331    transition3           (dark-hive/floor)  }
{TRANSITION_RESTRICTED_LF       Yhl (Re,Rb,Rd) -332    transition3           (dark-hive/lair)   }
{TRANSITION_RESTRICTED_LF       Yhs (Re,Rb,Rd) -333    transition3           (dark-hive/surface)}

#purple walls:

{NEW:WALL_CORNER                 Xoav               (!,Xo*,Xu*)      walls/purple/wall-stone}
{NEW:WALL                        Xoav           (!,Xu*,Xo*)      walls/purple/wall-stone}

#purple bridges:

# basic stone bridge
{BRIDGE:STRAIGHTS Bsv\ Bsv| Bsv/ * *                 * stonebridge {BRIDGE_LAYER} bridge-purple/stonebridge}
#{BRIDGE:ENDS      Bsv\ Bsv| Bsv/ * (Co*,Cu*,Ko*,Ku*) * stonebridge {BRIDGE_LAYER} bridge/stonebridge-castle}
{BRIDGE:ENDS      Bsv\ Bsv| Bsv/ * (C*,K*)           * stonebridge {BRIDGE_LAYER} bridge-purple/stonebridge-castle}
{BRIDGE:ENDS      Bsv\ Bsv| Bsv/ * (C*,K*,X*)           * stonebridge {BRIDGE_LAYER} bridge-purple/stonebridge-short}
{BRIDGE:ENDS      Bsv\ Bsv| Bsv/ * (W*,S*,Ql*)       * stonebridge {BRIDGE_LAYER} bridge-purple/stonebridge-water}
{BRIDGE:ENDS      Bsv\ Bsv| Bsv/ * *                 * stonebridge {BRIDGE_LAYER} bridge-purple/stonebridge}

# chasm stone bridge
{BRIDGE:STRAIGHTS Bcv\ Bcv| Bcv/ *   Ql* Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-ll}
{BRIDGE:STRAIGHTS Bcv\ Bcv| Bcv/ *   Ql* Q*  chasm {BRIDGE_LAYER} bridge-purple/chasm-lx}
{BRIDGE:STRAIGHTS Bcv\ Bcv| Bcv/ *   Q*  Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-xl}
{BRIDGE:STRAIGHTS Bcv\ Bcv| Bcv/ *   Q*  Q*  chasm {BRIDGE_LAYER} bridge-purple/chasm-xx}
{BRIDGE:STRAIGHTS Bcv\ Bcv| Bcv/ *   *   *   chasm {BRIDGE_LAYER} bridge-purple/chasm}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Ql* Ql* Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-ll}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Ql* Ql* Q*  chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-lx}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Qx* Qx* Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-xl}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Qx* Qx* Qx* chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-xx}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Ql* Q*  Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-ll}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Ql* Q*  Q*  chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-lx}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Q*  Q*  Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-xl}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ Q*  Q*  Q*  chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-xx}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ *   Ql* *   chasm {BRIDGE_LAYER} bridge-purple/chasm-dock-l}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ *   Q*  *   chasm {BRIDGE_LAYER} bridge-purple/chasm-dock}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ *   *   Qx* chasm {BRIDGE_LAYER} bridge-purple/chasm-x}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ *   *   Ql* chasm {BRIDGE_LAYER} bridge-purple/chasm-l}
{BRIDGE:ENDS      Bcv\ Bcv| Bcv/ *   *   *   chasm {BRIDGE_LAYER} bridge-purple/chasm}
