#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Patron_Refumee
    name= _ "Beast Saurian"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/beast.png"
    hitpoints=25
    movement_type=spartanfoot
    {SPARTAN_JUNGLE_MOVECOSTS_AND_DEFENSES}
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "TODO"
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_HOPLITE_PATRON_UNIT}
        {ABILITY_SPARTAN_AMBUSH}
        #necessary because the "poison enemies" CA breaks the normal attack
        {SPARTAN_AI_FORCE_ATTACK_WITH_BEST}
    [/abilities]
    [standing_anim]
        start_time=0
        [frame]
            image=units/lizards/beast-bob[1~6].png:200
        [/frame]
    [/standing_anim]
    {DEFENSE_ANIM "units/lizards/beast-defend-2.png" "units/lizards/beast-defend-1.png" hiss-hit.wav }
    [attack]
        name=sickle
        description=_"sickle"
        icon=attacks/sickle.png
        type=blade
        range=melee
        damage=8
        number=1
        #	attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack]
        name=sickle_poison
        description=_"poisoned sickle"
        icon=attacks/sickle.png
        type=blade
        range=melee
        damage=8
        number=1
        attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_POISON}#visual
            #hacky workaround to prevent the unit from attacking with sting despite having attack_weight=0.0 for some reason
            [disable]
                id=spartan_disableattack
            [/disable]
            {WEAPON_SPECIAL_HOPLITE_RANGED refumee_chargeattack 1 0 "misc/targethex-poison.png" first () (
                [modify_unit]
                    [filter]
                        id=$this_targetunit.id
                        [not]
                            status=unpoisonable
                        [/not]
                    [/filter]
                    [status]
                        poisoned=yes
                    [/status]
                [/modify_unit]
            ) ()}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sickle
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sickle_poison
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
