#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Patron_Refumee_Dinosaur
    name= _ "Dinosaur"
    race=monster
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/wes-dino.png"
    hitpoints=25
    movement_type=spartanfoot
    {SPARTAN_JUNGLE_MOVECOSTS_AND_DEFENSES}
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "TODO"
    die_sound=drake-die.ogg
    [abilities]
        {ABILITY_HOPLITE_PATRON_UNIT}
        {ABILITY_HOPLITE_KNOCKBACKRESIST 1}
    [/abilities]
    {DEFENSE_ANIM "units/lizards/wes-dino.png" "units/lizards/wes-dino.png" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=fangs
        description=_"bite"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=10
        number=1
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-250
        [frame]
            duration=400
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
