#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Salamander
    name= _ "Salamander"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/salamander.png"
    hitpoints=20
    movement_type=spartanfoot
    movement=1
    experience=99
    level=1
    alignment=neutral
    advances_to=null
#    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ ""
    die_sound=hiss-die.wav
    [abilities]
      {ABILITY_AMBUSH}
    [/abilities]
    [movement_costs]
       forest=1
    [/movement_costs]
    [defense]
       forest=100
    [/defense]
    [defend]
        start_time=-126
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound=hiss-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
    [movement_anim]
        start_time=0
        [frame]
            image="units/lizards/salamander-moving[1,2].png:100"
        [/frame]
    [/movement_anim]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=8
        number=1
#	attack_weight=0.0
	defense_weight=0.0
	[specials]
#           {WEAPON_SPECIAL_BACKSTAB}
	   {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
	[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/lizards/[salamander-moving1,salamander-moving2,salamander-attack,salamander-moving1].png:[75*2,100,75]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
