#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Salamander
    name= _ "Salamander"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/salamander.png"
    hitpoints=15
    movement_type=spartanfoot
    {SPARTAN_JUNGLE_MOVECOSTS_AND_DEFENSES}
    movement=1
    experience=99
    level=1
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "Salamanders are relatively average melee enemies encountered in the jungle depths. However, what makes them a threat is that they hide in forested terrain to ambush their target. The best way to deal with them is to bring rats to reveal the salamanders' location, and finish the latter off with a spear strike."
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [defend]
        start_time=-126
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound=hiss-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
    [movement_anim]
        start_time=0
        [frame]
            image="units/lizards/salamander-moving[1,2].png:100"
        [/frame]
    [/movement_anim]
    [standing_anim]
        [frame]
            image="units/lizards/salamander/00[01~32].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=dagger
        description=_"dagger"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=8
        number=1
        #	attack_weight=0.0
        defense_weight=0.0
        [specials]
            #           {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/lizards/[salamander-moving1,salamander-moving2,salamander-attack,salamander-moving1].png:[75*2,100,75]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hoplite_Black_Salamander
    name= _ "Black Salamander"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/blacksalamander.png"
    hitpoints=25
    movement_type=spartanfoot
    {SPARTAN_JUNGLE_MOVECOSTS_AND_DEFENSES}
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "Black Salamanders are an even deadlier and stealthier version of Salamanders. Besides being able to hide in forests, they're invisible until you're in a 2-tile radius of them. This makes them very dangerous foes, should you not be prepared. However, you can use the 'Patience' upgrade to wait until a poltergeist moves into the 2-hex radius around you, so you can strike first. You can also use ally units (rats, shadow clones, etc.) to reveal the salamander' location if it is not in a forest tile, or the Lantern upgrade to see this unit from further away."
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_GHOSTLY}
        {ABILITY_AMBUSH}
    [/abilities]

    [defend]
        start_time=-126
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound=hiss-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
    [standing_anim]
        [frame]
            image="units/lizards/blacksalamander/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=blade
        description=_"wrist blade"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=10
        number=1
        #   attack_weight=0.0
        defense_weight=0.0
        [specials]
            #           {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blade
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/lizards/blacksalamander-attack[1,2,1].png:[100,250,100]"
            sound=dagger-swish.wav
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -200}
    [/attack_anim]
[/unit_type]