#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Blowgunner
    name= _ "Saurian Blowgunner"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/shooter-poison1.png"
    hitpoints=15
    movement_type=spartanfoot
    movement=1
    experience=99
    level=1
    alignment=neutral
    advances_to=null
#    {AMLA_DEFAULT}
    cost=18
    usage=archer
    description= _ "Saurian blowgunners can target hoplite in a 3-tile line, but have a 1-tile blind spot around them. The hexes they're about to shoot are highlighted in yellow. Unlike most archers from hit the first unit, this one prioritizes players/bosses."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/lizards/shooter-poison1.png" "units/lizards/shooter-poison1.png" hiss-hit.wav}
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_SPARTAN_RANGED 4}
    [/abilities]
    [movement_costs]
        forest=1
    [/movement_costs]
    [defense]
        forest=100
    [/defense]
    [standing_anim]
        [frame]
            image="units/lizards/blowgunner/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=blowgun
        description=_"blowgun"
        icon=attacks/quarterstaff.png
        type=pierce
        range=ranged
        damage=10
        number=1
	attack_weight=0.0
	defense_weight=0.0
	[specials]
        #targets important targets first:
            {WEAPON_SPECIAL_HOPLITE_RANGED naga_hunter 0 4 1 "misc/targethex-archer.png" first ()}
	[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blowgun
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
	    offset=0.0~3.0:150
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/lizards/shooter-poison[1,2,1].png:[75,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -150}
    [/attack_anim]
[/unit_type]
