#textdomain wesnoth-units
[unit_type]
    id=Hoplite_Witchdoctor
    name= _ "Saurian Witchdoctor"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/witchdoctor.png"
    hitpoints=25
    movement_type=spartanfoot
    {SPARTAN_JUNGLE_MOVECOSTS_AND_DEFENSES}
    movement=1
    experience=99
    level=2
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "Saurian witchdoctors are melee enemies similar to the salamanders, but with a powerful ability: the jungle's curse. If struck by the witchdoctors' claws, you become unable to use healing potions or phoenix amulet, and most other methods of healing are disabled. Additionally, killing enemies only restores half (rounded down) the usual energy amount. On top of that, the witchdoctors can hide in the forest terrain, like most other jungle enemies."
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [defend]
        start_time=-126
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound=hiss-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=8
        number=1
        #	attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_CURSE}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/lizards/witchdocto[r,r-melee,r].png:[100,150,75]"
            sound=magic-dark-miss.ogg
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hoplite_Damnedshaman
    name= _ "Saurian Damned Shamaned"
    race=lizard
    num_traits=0
    ignore_race_traits=yes
    image="units/lizards/damnedshaman.png"
    hitpoints=35
    movement_type=spartanfoot
    {SPARTAN_JUNGLE_MOVECOSTS_AND_DEFENSES}
    movement=1
    experience=99
    level=3
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    cost=14
    usage=fighter
    description= _ "Damned Shamans are even stronger witchdoctors, with more health, damage, a ranged curse attack, and the ability to teleport a short distance."
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_AMBUSH}
        {ABILITY_HOPLITE_TELEPORT 2}
        {ABILITY_SPARTAN_SEMIRANGED 3}
    [/abilities]
    [defend]
        start_time=-126
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound=hiss-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=10
        number=1
        #   attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_CURSE}
            {WEAPON_SPECIAL_HOPLITE_DISABLEONSLOW}
        [/specials]
    [/attack]
    [attack]
        name=curse
        description=_"curse"
        icon=attacks/curse-damnedshaman.png
        type=arcane
        range=ranged
        damage=10
        number=1
        attack_weight=0.0
        defense_weight=0.0
        [specials]
            {WEAPON_SPECIAL_HOPLITE_RANGED damnedshaman 3 0 "misc/targethex-curse.png" aoe () (
                {SPARTAN_APPLY_CURSE (id=$this_targetunit.id)}
            ) ()}
            {WEAPON_SPECIAL_HOPLITE_CURSE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        missile_start_time=-150
        missile2_start_time=-100
        missile3_start_time=-50
        [missile_frame]
            halo="misc/blank-hex.png:1,projectiles/fireball-impact-[1~16].png:60"
            halo_mod="~GS()~CS(150,0,180)"
            offset=1.0
            auto_vflip=no
        [/missile_frame]
        [missile2_frame]
            halo="misc/blank-hex.png:1,projectiles/fireball-impact-[1~16].png:60"
            halo_mod="~GS()~CS(150,0,180)"
            offset=2.0
            auto_vflip=no
        [/missile2_frame]
        [missile3_frame]
            halo="misc/blank-hex.png:1,projectiles/fireball-impact-[1~16].png:60"
            halo_mod="~GS()~CS(150,0,180)"
            offset=3.0
            auto_vflip=no
        [/missile3_frame]
        start_time=-450
        [frame]
            duration=150
        [/frame]
        [frame]
            duration=300
            halo=halo/undead/dark-magic-[1~6].png:50
            halo_x,halo_y=0,-12
            sound=magic-dark-big.ogg
        [/frame]
        [frame]
            duration=150
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-200
        [frame]
            duration=325
            sound=magic-dark-miss.ogg
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-625

        halo1_start_time=-625
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=-30
        [/halo1_frame]

        halo2_start_time=-525
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=-10
        [/halo2_frame]

        halo3_start_time=-425
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=10
        [/halo3_frame]

        [frame]
            duration=100
        [/frame]
        [frame]
            duration=450
            alpha=1~0:450
        [/frame]
        [frame]
            duration=150
            alpha=0
        [/frame]
    [/animation]
    [animation]
        apply_to=post_teleport
        start_time=-625

        halo1_start_time=-625
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=-30
        [/halo1_frame]

        halo2_start_time=-525
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=-10
        [/halo2_frame]

        halo3_start_time=-425
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[7~1].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=10
        [/halo3_frame]

        [frame]
            duration=150
            alpha=0
        [/frame]
        [frame]
            duration=450
            alpha=0~1:450
        [/frame]
        [frame]
            duration=100
        [/frame]
    [/animation]
[/unit_type]
